.stock-img img{
	border-radius: 15px;
	transition: 0.4s;
}

.stock-img img:hover{
	box-shadow: 5px 13px 15px 5px rgba(34, 60, 80, 0.5);
	transition: 0.4s;
	cursor: pointer;
	transform: scale(1.01);
}


.magnum-club{
	background-color: #000;
	border-radius: 15px;
	min-height: 377px;
}

.magnum-club img{
	cursor: pointer;
}

.magnum-club-picture{
	right: 150px;
	top: -20px;
	transition: .4s;
}

.magnum-club-picture:hover{
	right: 150px;
	top: -20px;
	transform: scale(1.01);
	transition: .4s;
}

.lottery-wrap{
	flex-wrap: wrap;
}